nav {
    max-width: $site-width;
    width: 75%;
    height: 80px;
    margin: 0 auto;
    border-bottom: 2px solid $site-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 99;

    .logo {
        width: 92px;
        height: 42px;
        border: solid $site-white 2px;
        color: $site-white;
        text-align: center;
        padding: 4px;
        font-family: "GillSansReg";
        font-size: 20px;
    }

    .links {
        a {
            color: $site-white;
            text-decoration: none;
            font-family: "GillSansReg";
            font-size: 15px;
        }
        span {
            color: $site-white;
            margin: 0 20px;
        }
    }
}

//1920, 1600, 1536, 1440, 1366, 1280, 1024
//website looks fine on 1024px width and up
//when the screen hits the new max width, change the navbar layout

@media screen and (max-width: 820px) {
    nav {
        flex-direction: column;

        .links {
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }
}